//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 18 07:45:22 2017
//! **************************************************************************

SCHEMATIC START;
COMP "oLEDT1<0>" LOCATE = SITE "P78" LEVEL 1;
COMP "oLEDT1<1>" LOCATE = SITE "P73" LEVEL 1;
COMP "oLEDT1<2>" LOCATE = SITE "P79" LEVEL 1;
COMP "oLEDT1<3>" LOCATE = SITE "P74" LEVEL 1;
COMP "oLEDT2<0>" LOCATE = SITE "P76" LEVEL 1;
COMP "oLEDT2<1>" LOCATE = SITE "P69" LEVEL 1;
COMP "oLEDT2<2>" LOCATE = SITE "P77" LEVEL 1;
COMP "oBCD<0>" LOCATE = SITE "P23" LEVEL 1;
COMP "oLEDT2<3>" LOCATE = SITE "P70" LEVEL 1;
COMP "oBCD<1>" LOCATE = SITE "P25" LEVEL 1;
COMP "oBCD<2>" LOCATE = SITE "P27" LEVEL 1;
COMP "oBCD<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "oBCD<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "oBCD<5>" LOCATE = SITE "P35" LEVEL 1;
COMP "oBCD<6>" LOCATE = SITE "P40" LEVEL 1;
COMP "iPush1" LOCATE = SITE "P44" LEVEL 1;
COMP "iPush2" LOCATE = SITE "P46" LEVEL 1;
COMP "Rstb" LOCATE = SITE "P51" LEVEL 1;
COMP "iPush3" LOCATE = SITE "P47" LEVEL 1;
COMP "com<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "com<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "com<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "com<3>" LOCATE = SITE "P31" LEVEL 1;
COMP "Change" LOCATE = SITE "P50" LEVEL 1;
COMP "CLK" LOCATE = SITE "P127" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP CLK = BEL "u_CLK1ms/r1ms" BEL "u_CLK1ms/rCnt_0" BEL "u_CLK1ms/rCnt_1"
        BEL "u_CLK1ms/rCnt_2" BEL "u_CLK1ms/rCnt_3" BEL "u_CLK1ms/rCnt_4" BEL
        "u_CLK1ms/rCnt_5" BEL "u_CLK1ms/rCnt_6" BEL "u_CLK1ms/rCnt_7" BEL
        "u_CLK1ms/rCnt_8" BEL "u_CLK1ms/rCnt_9" BEL "u_CLK1ms/rCnt_10" BEL
        "u_CLK1ms/rCnt_11" BEL "u_CLK1ms/rCnt_12" BEL "u_CLK1ms/rCnt_13" BEL
        "u_CLK1ms/rCnt_14" BEL "u_FSMpush/oT2Push2" BEL "u_FSMpush/oT2Push1"
        BEL "u_FSMpush/oT2Push3" BEL "u_FSMpush/oT1Push3" BEL
        "u_FSMpush/oT1Push2" BEL "u_FSMpush/oT1Push1" BEL
        "u_FSMpush/curr_state_0" BEL "u_FSMcom/rCnt500ms_8" BEL
        "u_FSMcom/rCnt500ms_7" BEL "u_FSMcom/rCnt500ms_6" BEL
        "u_FSMcom/rCnt500ms_5" BEL "u_FSMcom/rCnt500ms_4" BEL
        "u_FSMcom/rCnt500ms_3" BEL "u_FSMcom/rCnt500ms_2" BEL
        "u_FSMcom/rCnt500ms_1" BEL "u_FSMcom/rCnt500ms_0" BEL "u_FSMcom/rCnt"
        BEL "u_FSMcom/rCnP" BEL "u_FSMcom/wCom_3" BEL "u_FSMcom/wCom_2" BEL
        "u_FSMcom/wCom_1" BEL "u_FSMcom/wCom_0" BEL "u_FSMcom/curr_state_0"
        BEL "u_Change/rCnt_2" BEL "u_Change/rCnt_1" BEL "u_Change/rCnt_0" BEL
        "u_Change/rDebouce_3" BEL "u_Change/rDebouce_2" BEL
        "u_Change/rDebouce_1" BEL "u_Change/rDebouce_0" BEL "u_Change/O" BEL
        "u_Change/rTick" BEL "u_Push3/rCnt_2" BEL "u_Push3/rCnt_1" BEL
        "u_Push3/rCnt_0" BEL "u_Push3/rDebouce_3" BEL "u_Push3/rDebouce_2" BEL
        "u_Push3/rDebouce_1" BEL "u_Push3/rDebouce_0" BEL "u_Push3/O" BEL
        "u_Push3/rTick" BEL "u_Push2/rCnt_2" BEL "u_Push2/rCnt_1" BEL
        "u_Push2/rCnt_0" BEL "u_Push2/rDebouce_3" BEL "u_Push2/rDebouce_2" BEL
        "u_Push2/rDebouce_1" BEL "u_Push2/rDebouce_0" BEL "u_Push2/O" BEL
        "u_Push2/rTick" BEL "u_Push1/rCnt_2" BEL "u_Push1/rCnt_1" BEL
        "u_Push1/rCnt_0" BEL "u_Push1/rDebouce_3" BEL "u_Push1/rDebouce_2" BEL
        "u_Push1/rDebouce_1" BEL "u_Push1/rDebouce_0" BEL "u_Push1/O" BEL
        "u_Push1/rTick" BEL "u_Team2/wScore_3" BEL "u_Team2/wScore_2" BEL
        "u_Team2/wScore_1" BEL "u_Team2/wScore_0" BEL "u_Team2/rCnt" BEL
        "u_Team2/wDigit1_3" BEL "u_Team2/wDigit1_2" BEL "u_Team2/wDigit1_1"
        BEL "u_Team2/wDigit1_0" BEL "u_Team2/wDigit2_3" BEL
        "u_Team2/wDigit2_2" BEL "u_Team2/wDigit2_1" BEL "u_Team2/wDigit2_0"
        BEL "u_Team1/wScore_3" BEL "u_Team1/wScore_2" BEL "u_Team1/wScore_1"
        BEL "u_Team1/wScore_0" BEL "u_Team1/rCnt" BEL "u_Team1/wDigit1_3" BEL
        "u_Team1/wDigit1_2" BEL "u_Team1/wDigit1_1" BEL "u_Team1/wDigit1_0"
        BEL "u_Team1/wDigit2_3" BEL "u_Team1/wDigit2_2" BEL
        "u_Team1/wDigit2_1" BEL "u_Team1/wDigit2_0" BEL "u_ScanDigit/rCnt_3"
        BEL "u_ScanDigit/rCnt_2" BEL "u_ScanDigit/rCnt_1" BEL
        "u_ScanDigit/rCnt_0" BEL "u_ScanDigit/rShift_0" BEL
        "u_ScanDigit/rShift_1" BEL "u_ScanDigit/rShift_2" BEL
        "u_ScanDigit/rShift_3" BEL "CLK_BUFGP/BUFG.GCLKMUX" BEL
        "CLK_BUFGP/BUFG";
ts_clk = PERIOD TIMEGRP "CLK" 40 ns HIGH 50%;
SCHEMATIC END;

