
#Created by Constraints Editor (xc3s200-tq144-5) - 2017/11/12
NET "CLK" TNM_NET = "CLK";
TIMESPEC ts_clk = PERIOD "CLK" 40 ns HIGH 50 %;

# PlanAhead Generated physical constraints 

NET "CLK" LOC = P127;
NET "Rstb" LOC = P51;
NET "iPush1" LOC = P44;
NET "iPush2" LOC = P46;
NET "iPush3" LOC = P47;
NET "Change" LOC = P50;
NET "oLEDT1[0]" LOC = P78;
NET "oLEDT1[1]" LOC = P73;
NET "oLEDT1[2]" LOC = P79;
NET "oLEDT1[3]" LOC = P74;
NET "oLEDT2[0]" LOC = P76;
NET "oLEDT2[1]" LOC = P69;
NET "oLEDT2[2]" LOC = P77;
NET "oLEDT2[3]" LOC = P70;
NET "oBCD[6]" LOC = P40;
NET "oBCD[5]" LOC = P35;
NET "oBCD[4]" LOC = P32;
NET "oBCD[3]" LOC = P30;
NET "oBCD[2]" LOC = P27;
NET "oBCD[1]" LOC = P25;
NET "oBCD[0]" LOC = P23;
NET "com[3]" LOC = P31;
NET "com[2]" LOC = P33;
NET "com[1]" LOC = P36;
NET "com[0]" LOC = P41;
